<div class="main-container">
  <div class="inner-container">
    <div class="form" [formGroup]="mortgageForm">
      <div class="title-bar">
        <h1>Mortgage Calculator</h1>
        <app-clear-all></app-clear-all>
      </div>
      <app-mortg-amount
        [submitted]="submitted"
        [mortgageForm]="mortgageForm"
      ></app-mortg-amount>
      <div class="mortgage-interest-field">
        <app-mortg-term
          [submitted]="submitted"
          [mortgageForm]="mortgageForm"
        ></app-mortg-term>
        <app-interest-term
          [submitted]="submitted"
          [mortgageForm]="mortgageForm"
        ></app-interest-term>
      </div>
      <div class="mortgage-type">
        <p>Mortgage Type</p>
        <app-repayment-type [mortgageForm]="mortgageForm"></app-repayment-type>
        <app-interest-type
          [submitted]="submitted"
          [mortgageForm]="mortgageForm"
        ></app-interest-type>
      </div>
      <app-submit-form></app-submit-form>
    </div>
    <div class="results-container">
      <app-results
        [mortgageForm]="mortgageForm"
        [submitted]="submitted"
      ></app-results>
    </div>
  </div>
</div>
