<div class="main-container">
  <div class="inner-container">
    <div class="form" [formGroup]="mortgageForm">
      <div class="title-bar">
        <h1>Mortgage Calculator</h1>
        <app-clear-all></app-clear-all>
      </div>
      <app-mortg-amount></app-mortg-amount>
      <div class="mortgage-interest-field">
        <app-mortg-term></app-mortg-term>
        <app-interest-term></app-interest-term>
      </div>
      <div class="mortgage-type">
        <p>Mortgage Type</p>
        <app-repayment-type></app-repayment-type>
        <app-interest-type></app-interest-type>
      </div>
      <app-submit-form></app-submit-form>
    </div>
    <div class="results-container">
      <app-results></app-results>
    </div>
  </div>
</div>
